
.user-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    img {
        height: 500px;
        width: 500px;
        margin-top: 100px;
        margin-bottom: 30px;
        border-radius: 50px;
        border-style: dotted;
        border-color: #ffa400;
        border-width: 6px;
    }
    h1 {
        font-family: 'Lacquer', sans-serif;
    }
    form {
        text-align: center;
    }
    button {
        font-family: 'Lacquer', sans-serif;
        border-radius: 5px;
        margin-top: 40px;
        background-color: #8a0303;
        color: yellowgreen;
    }
}

.users-friends {
    text-align: center;
    font-family: 'Lacquer', sans-serif;
    margin-bottom: 20px;
}