@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:300&display=swap');
@import 'reset';
@import 'typography';
@import 'friendPage';
@import 'header';
@import 'homepage';

body {
    background: #AAD2BA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.signin-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    button {
        border-radius: 5px;
        background-color: gold;
        font-family: 'UnifrakturCook', cursive;
        font-size: x-large;
    }
    input {
        border-radius: 5px;
        margin: 10px 0;
        font-family: 'UnifrakturCook', cursive;
        text-align: center;
        font-size: x-large;

    }
    h2 {
        width: 232px;
        font-family: 'UnifrakturCook', cursive;

    }
}

.none {
    display: none;
}

a{
    text-decoration: none;
}

img {
    object-fit: cover;

}