<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class='site-title none'>FriendFace</h1>
        <% if (currentUser) { %>
            <a href="/logout" class="logout">Logout</a>
            <a href="/"><p class="logged-on"><img src="<%- currentUser.avatarUrl %>" alt="" class="loggedon-avatar"></p></a>
            <% } %>
            <img src="/images/friendface_logo.png" alt="logo" class="logo">
        </header>