@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab:300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  margin-bottom: 1em; }

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 24px;
  margin-bottom: 1em; }

h4 {
  font-size: 20px; }

p, li, a, blockquote, span {
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5em; }

code, codeblock {
  background: #eaeaea;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 0 4px; }

codeblock {
  display: block;
  margin: 12px 32px 6px 0;
  padding: 12px 14px; }

.user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .user-header img {
    height: 500px;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 50px;
    border-style: dotted;
    border-color: #ffa400;
    border-width: 6px; }
  .user-header h1 {
    font-family: 'Lacquer', sans-serif; }
  .user-header form {
    text-align: center; }
  .user-header button {
    font-family: 'Lacquer', sans-serif;
    border-radius: 5px;
    margin-top: 40px;
    background-color: #8a0303;
    color: yellowgreen; }

.users-friends {
  text-align: center;
  font-family: 'Lacquer', sans-serif;
  margin-bottom: 20px; }

header {
  max-height: 100px;
  position: fixed;
  display: flex;
  width: 100vw;
  background-color: #0D7D45; }
  header .logo {
    margin: 0 auto; }

.logout {
  position: relative;
  left: 10px;
  text-decoration: none;
  margin: auto 0;
  color: whitesmoke; }

.logged-on {
  position: absolute;
  right: 20px;
  height: 100px; }
  .logged-on img {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin: 5px;
    object-fit: cover; }

.site-title {
  display: none; }

.sign-in-form {
  margin: auto; }

.user-avatar {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 100px; }

.a-user {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 2px solid #1D1E18;
  border-radius: 30px;
  margin: 0 20px 50px; }
  .a-user img {
    width: 200px;
    height: 200px;
    border-radius: 28px;
    margin: 0;
    padding: 0;
    bottom: 0; }
  .a-user a {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    .a-user a p {
      color: #D9FFF5; }

.current-header {
  margin: 100px auto 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .current-header p {
    width: 150px;
    padding: 0 50px;
    text-align: center;
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large; }

.many-users {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }

.PYMK {
  text-align: center;
  display: block;
  background-color: #B9F5D8;
  font-size: x-large;
  color: #1D1E18;
  position: fixed;
  width: 100vw;
  bottom: 0;
  font-family: 'UnifrakturCook', cursive; }

body {
  background: #AAD2BA;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.signin-form {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .signin-form button {
    border-radius: 5px;
    background-color: gold;
    font-family: 'UnifrakturCook', cursive;
    font-size: x-large; }
  .signin-form input {
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'UnifrakturCook', cursive;
    text-align: center;
    font-size: x-large; }
  .signin-form h2 {
    width: 232px;
    font-family: 'UnifrakturCook', cursive; }

.none {
  display: none; }

a {
  text-decoration: none; }

img {
  object-fit: cover; }
