<%- include('../partials/header') %>
<div class="sign-in-form">
    <form method='get' action='/getname' class='signin-form'>
        <h2>Sign in using your first name!</h2>
        <label for='firstName' class="none">First name</label>
        <input type='text' name='firstName' />
        <button type='submit'>Submit</button>
    </form>
<div class="sign-in-form"></div>
<%- include('../partials/footer') %>